<div class="container-fluid">

    <div class="row bg-secondary d-flex align-items-center">
        <div class="cold-md6">

            <div class="row d-flex justify-content-center">
                <div class="col-md-6 text-white">
                    <h1 class="fs-54">Seja bem vindo(a)!!!</h1>
                    <h5 class="fs-18">Aqui iremos falar sobre os classicos!</h5>
                </div>
            </div>


            <div class="row d-flex justify-content-center mt-3 mb-5">
                <div class="cold-md-6">
                    <button class="btn btn-light mr-2" data-toggle="modal" data-target="#novaPostagem">Nova
                        Postagem</button>
                    <a class="btn btn-outline-light" href="#postagens">Ver Postagens</a>
                </div>
            </div>



        </div>

        <div class="col-md-6 d-flex justify-content-center">
            <img src="https://i.imgur.com/D5hqjfB.png" width="500px" height="450px" alt="Loja laranja">
        </div>
    </div>
</div>

<div class="container mb-5 mt-5" id="postagens">
    <nav>
        <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active text-secondary" id="nav-todasPostagens-tab" data-toggle="tab"
                href="#todasPostagens" role="tab" aria-controls="nav-todasPostagens" aria-selected="true">Todas as
                postagens</a>

            <a class="nav-item nav-link text-secondary" id="nav-minhasPostagens-tab" data-toggle="tab" href="#minhasPostagens"
                role="tab" aria-controls="nav-minhasPostagens" aria-selected="false" (click)="findByIdUser()">Minhas
                Postagens</a>

            <a class="nav-item nav-link text-secondary" id="nav-porTema-tab" data-toggle="tab" href="#porTema"
                role="tab" aria-controls="nav-porTema" aria-selected="false">Por tema</a>
        </div>
    </nav>


    <!--Postagens por todos os usuarios / todas as postagens-->
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel"
            aria-labelledby="nav-todasPostagens-tab">

            <div class="row d-flex justify-content-center mt-5 mb-5">
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" id="titulo" placeholder="Digite aqui um título:" [(ngModel)]= "tituloPost" (keyup)="findByTituloPostagem()">
                    </div>
                </div>
            </div>
           
            <div class="card-columns mt-3">
                <div class="card text-center" 
                *ngFor="let item of listaPostagens | orderBy : key : reverse">
                    <div class="card-body">
                        <h5 class="card-title">{{item.titulo}}</h5>
                        <p class="card-text">{{item.texto}}</p>
                        <small class="text-muted">Em: {{item.tema.descricao}}</small><br>
                        <small class="text-muted">
                            Postado em: {{item.date | date: "dd/MM/yyyy"}} às {{item.date | date:
                            "HH:mm"}}</small> <br>
                        <small class="text-muted">Por: {{item.usuario.nome}}</small>
                    </div>
                </div>
            </div>

        </div>
        <!--/Postagens por todos os usuarios-->

        <!--Postagens por usuario-->
        <div class="tab-pane fade" id="minhasPostagens" role="tabpanel" aria-labelledby="nav-minhasPostagens-tab">
            <div class="card-columns mt-3">

                <div class="card text-center" *ngFor="let item of usuario.postagem | orderBy : key : reverse">
                    <div class="card-body">
                        <h5 class="card-title">{{item.titulo}}</h5>
                        <p class="card-text">{{item.texto}}</p>
                        <small class="text-muted">Em: {{item.tema.descricao}}</small><br>
                        <small class="text-muted">Postado em: {{item.date | date: "dd/MM/yyyy"}} às {{item.date | date:
                            "HH:mm"}}</small> <br>
                                       
                            <a [routerLink]="['/postagem-edit', item.id]" class="text-info mr-3" href="">Editar</a>
                            <a [routerLink]="['/postagem-delete', item.id]" class="text-danger" href="">Apagar</a>

                    </div>
                </div>
            </div>
        </div>
        <!--/Postagens por usuario-->

        <!--Postagens por temas-->
        <div class="tab-pane fade" id="porTema" role="tabpanel" aria-labelledby="nav-porTema-tab">

            <div class="row d-flex justify-content-center mt-5 mb-5">
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" id="titulo" placeholder="Digite aqui um tema:" [(ngModel)]= "nomeTema" (keyup)="findByNomeTema()">
                    </div>
                </div>
            </div>

            <div class="card-columns mt-3" *ngFor="let tema of listaTemas">
                <div class="card text-center" *ngFor="let item of tema.postagem | orderBy : key : reverse">
                    <div class="card-body">
                        <h5 class="card-title">{{item.titulo}}</h5>
                        <p class="card-text">{{item.texto}}</p> <br>
                        <small class="text-muted">Postado em: {{item.date | date: "dd/MM/yyyy"}} às {{item.date | date:
                            "HH:mm"}}</small> <br>

                    </div>
                </div>
            </div>
        </div>
        <!--/Postagens por temas-->
    
</div>




<!-- Botão para acionar modal de nova postagem como exemplo do bootstrap-->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#novaPostagem">
    Abrir modal de demonstração
  </button> -->

<!-- Código do Modal para nova postagem -->
<div class="modal fade" id="novaPostagem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nova postagem</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="titulo">Título</label>
                    <input [(ngModel)]="postagem.titulo" type="text" class="form-control" name="" id="titulo"
                        placeholder="Digite o título:">
                </div>

                <div class="form-group">
                    <label for="titulo">Texto</label>
                    <textarea [(ngModel)]="postagem.texto" name="texto" class="form-control" id="" rows="3"></textarea>
                </div>


                <div class="form-group">
                    <label for="titulo">Escolha um tema ou <a data-dismiss="modal" routerLink="/tema">cadastre um novo
                            aqui!</a></label>
                    <select name="tema" id="tema" class="form-control" [(ngModel)]="idTema" (change)="findByIdTema()">
                        <option *ngFor="let item of listaTemas" value="{{item.id}}">{{item.descricao}}</option>
                    </select>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" data-dismiss="modal"
                    (click)="publicar()">Publicar</button>
            </div>
        </div>
    </div>
</div>